@media screen and (max-width: 767px) {
    .client-list {
            display: block;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 30px;

            
        }

        .section-client {
            min-width: 480px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    .client-list-item {
        flex-basis: calc((100% - 30px) / 2);
        }
    
    }
        .title-client {
            font-size: 28px;
            line-height: 1.18;
        }

        .client-list-link {
            width: 210px;
            height: 92px;
    }
  

.section-client {
    background: var(--primary-text-color-light);
}

.title-client {
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--primary-text-color-dark);
    margin-bottom: 50px;
}

.client-list {
    display: flex;
    justify-content: center;
    column-gap: 30px;
   }

.client-list-link {
    @extend %align;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    background-color: var(--primary-text-color-light);
    fill: #AFB1B8;
    transition: border var(--transition-dur-and-func), fill var(--transition-dur-and-func);

    &:hover,
    &:focus {
        border: 1px solid var(--accent-font);
        border-radius: 4px;
    }
}
    
.client-list-icon {
    width: 106px;
    height: 60px;

    .client-list-link:hover &,
    .client-list-link:focus & {
        fill: var(--accent-font);
    }
}

@media screen and (min-width: 768px) {
    .client-list {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    
    .client-list-item {
        flex-basis: calc((100% - 60px) / 3);
    }

    .title-client {
        font-size: 28px;
        line-height: 1.18;
    }

    .client-list-link {
        width: 226px;
        height: 92px;
    }
}

@media screen and (min-width: 1200px) {
    .client-list {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    
    .client-list-item {
        display: block;
        flex-basis: calc((100% - 150px) / 6);
    }

    .client-list-link {
        width: 170px;
        height: 92px;
    }
}