@media screen and (max-width: 767px) {
    .menu {
    display: none;
    }

    .contact {
    display: none;
    }

    .open-mobile-menu-btn {
        line-height: 0;
        border: none;
        background-color: transparent;
        padding: 0;
    }

    .open-mobile-menu-btn__icon {
        width: 40px;
        height: 40px;
    }
        .page-header {
            max-width: 480px;
            }

        .page-header__container {
            max-width: 450px;
}
}

.page-header {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--line-color-light4);
    color: var(--primary-text-color-light);
}

.page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

@media screen and (min-width: 768px) {
    .open-mobile-menu-btn {
        display: none;
    }
    .menu {
        display: flex;
        column-gap: 50px;
    }
    .contact {
        display: block;
        margin-left: auto;
        column-gap: 10px;
    }
}

.page-header {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
}

.page-navigation {
    display: flex;
    align-items: center;
}
.menu__link {
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-dark);
    transition: color var(--transition-dur-and-func);

    &:hover,
    &:focus {
        color: var(--accent-font);
    }
}

.menu__item {
    position: relative;
    color: var(--accent-font);
}

.menu__link_current::after {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 54px;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
}

.contact__envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;

}

.contact__email {
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-dark);
    fill: currentColor;
    display: flex;
    align-items: center;
    transition: color var(--transition-dur-and-func);

    &:hover,
    &:focus {
        color: var(--accent-font);
    }
}

.contact__smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
}

.contact__phone {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-dark);
    fill: currentColor;
    transition: color var(--transition-dur-and-func);

    &:hover,
    &:focus {
        color: var(--accent-font);
    }
}

@media screen and (min-width: 1200px) {
   
.menu {
    display: flex;
    column-gap: 50px;
}

.contact {
    display: flex;
    margin-left: auto;
}

.contact__item {
    margin-right: 30px;
}
}