@media screen and (max-width: 767px) {
    .photo {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            
        }
    }


.section-photo {
    background-color: var(--section-color-light2);
}

.title-photo {
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    color: var(--primary-text-color-dark);
    margin-bottom: 50px;
}

.photo {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.photo-item {
    background-color: var(--primary-text-color-light);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.photo-img {
    border-radius: 4px;
}

.title-name {
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 2;
    text-align: center;
    color: var(--primary-text-color-dark);
    margin-bottom: 10px;
}

.position {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-text-color-dark);
    margin-bottom: 16px;
}

.caption {
    padding: 30px;
}

.social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-text-color-light);
    fill: #AFB1B8;
    transition: background-color var(--transition-dur-and-func), fill var(--transition-dur-and-func);

    &:hover,
    &:focus {
        background-color: var(--accent-font);
    }

    &:hover .social-list-icon,
    &:focus .social-list-icon {
        fill: var(--primary-text-color-light);
    }
}

.social-list-icon {
    width: 20px;
    height: 20px;
}

@media screen and (min-width: 768px) {

    .photo {
        display: flex;
            flex-wrap: wrap;
            gap: 30px;
    }
}






/*.section-photo {
    background-color: var(--section-color-light2);
}

.title-photo {
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--primary-text-color-dark);
    margin-bottom: 50px;
}

.photo {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.photo-item {
    background-color: var(--primary-text-color-light);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.photo-img {
    border-radius: 4px;
}

.title-name {
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 2;
    text-align: center;
    color: var(--primary-text-color-dark);
    margin-bottom: 10px;
}

.position {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-text-color-dark);
    margin-bottom: 16px;
}

.caption {
    padding: 30px;
}

.social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-text-color-light);
    fill: #AFB1B8;
    transition: background-color var(--transition-dur-and-func), fill var(--transition-dur-and-func);

    &:hover,
    &:focus {
        background-color: var(--accent-font);
    }

    &:hover .social-list-icon,
    &:focus .social-list-icon {
        fill: var(--primary-text-color-light);
    }   
}

.social-list-icon {
    width: 20px;
    height: 20px;
}*/