@media screen and (max-width: 767px) {
        
    .text__item {
        flex-basis: auto;
        display: block;
    }

    .text__title {
        text-align: center;
    }

    .group-list-link {
        width: 450px;
    }
}

.text {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.text-visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.text__title {
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-text-color-dark);
    margin-bottom: 10px;
}

.text__text {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-dark);
}

.group-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    border-radius: 4px;
    background-color: var(--section-color-light2);
    margin-bottom: 30px;
}

.group-list-link__icon {
    width: 70px;
    height: 70px;
}

@media screen and (min-width: 768px) {

    .text__item {
        flex-basis: calc((100% - 30px) / 2);
        display: block;
    }
}



@media screen and (min-width: 1200px) {

    .text__item {
        flex-basis: calc((100% - 90px) / 4);
        display: block;
    }

}

/*.text {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.text {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.text__item {
    flex-basis: calc((100% - 90px) / 4);
    display: block;
}

.text__title {
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-text-color-dark);
    margin-bottom: 10px;
}

.text__text {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-dark);
}

.group-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--section-color-light2);
    margin-bottom: 30px;
}

.group-list-link__icon {
    width: 70px;
    height: 70px;
}*/