h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

body {
    font-family: var(--primary-font);
    letter-spacing: 0.03em;
}