:root {
    --primary-font: "Roboto", sans-serif;
    --primary-text-color-dark: #212121;
    --secondary-text-color-dark: #757575;
    --tertiary-text-color-dark: #000000;
    --primary-text-color-light: #ffffff;
    --section-color-dark: #2f303a;
    --section-color-light1: #f5f5f5;
    --section-color-light2: #f5f4fa;
    --section-color-light3: #eeeeee;
    --line-color-light4: #ececec;
    --accent-font: #2196f3;
    --accent-font-active: #188ce8;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}